#
# Complete guide here: https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AgentReference.html
#
[general]
state_file = /var/awslogs/state/agent-state
use_gzip_http_content_encoding = {{ aws_base_awslogs_config_use_gzip }}
{% for log_stream in aws_base_awslogs_config_streams %}

[{{ log_stream.file }}]
file = {{ log_stream.file }}
log_group_name = {{ log_stream.group_name }}
log_stream_name = {{ log_stream.stream_name|default('{instance_id}') }}
time_zone = {{ log_stream.time_zone|default('LOCAL') }}
datetime_format = {{ log_stream.format| default('%b %d %H:%M:%S') }}
initial_position = {{ log_stream.initial_position|default('start_of_file') }}
buffer_duration = {{ log_stream.buffer_duration|default('5000') }}
multi_line_start_pattern = {{ log_stream.multi_line_start_pattern|default('^[^\s]' ) }}
{% endfor %}